* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.whole_page {
    padding-bottom: 99px;
}

.header {
    margin-top: 45px;
}

.content {
    margin-top: 89px;
    margin-bottom: 178px;
}

.describtion {
    margin-top: 17px;
}

.buttons {
    margin-top: 52px;
}

.logos {
    padding-top: 97px;
    padding-bottom: 96px;
}